<!-- shared:head:start -->
<link rel="icon" type="image/svg+xml" sizes="16x16" href="{{ROOT}}assets/img/girosto-favicon-16x16.svg">
<link rel="icon" type="image/svg+xml" sizes="32x32" href="{{ROOT}}assets/img/girosto-favicon-32x32.svg">
<link rel="icon" type="image/svg+xml" sizes="48x48" href="{{ROOT}}assets/img/girosto-favicon-48x48.svg">
<link rel="apple-touch-icon" sizes="180x180" href="{{ROOT}}assets/img/girosto-favicon-180x180.svg">
<link rel="icon" type="image/svg+xml" sizes="192x192" href="{{ROOT}}assets/img/girosto-favicon-192x192.svg">
<meta property="og:image" content="https://girostobd.github.io/assets/img/girosto-og-image.svg">
<meta property="og:image:alt" content="Girosto organic food shop in Bangladesh">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://girostobd.github.io/assets/img/girosto-og-image.svg">
<link rel="stylesheet" href="{{ROOT}}assets/css/commerce.css">
<script src="{{ROOT}}assets/js/store.js" defer></script>
<!-- shared:head:end -->

