<!-- shared:head:start -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
<link rel="icon" type="image/svg+xml" sizes="16x16" href="{{ROOT}}assets/img/girosto-favicon-16x16.svg">
<link rel="icon" type="image/svg+xml" sizes="32x32" href="{{ROOT}}assets/img/girosto-favicon-32x32.svg">
<link rel="icon" type="image/svg+xml" sizes="48x48" href="{{ROOT}}assets/img/girosto-favicon-48x48.svg">
<link rel="apple-touch-icon" sizes="180x180" href="{{ROOT}}assets/img/girosto-favicon-180x180.svg">
<link rel="icon" type="image/svg+xml" sizes="192x192" href="{{ROOT}}assets/img/girosto-favicon-192x192.svg">
<meta property="og:image" content="https://www.girosto.com/assets/img/girosto-og-image.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="Girosto organic food shop in Bangladesh">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://www.girosto.com/assets/img/girosto-og-image.png">
<link rel="stylesheet" href="{{ROOT}}assets/css/commerce.css">
<script src="{{ROOT}}assets/js/store.js" defer></script>
<script src="{{ROOT}}assets/js/site-header.js" defer></script>
<!-- shared:head:end -->

